
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "Story Script", sans-serif;
        background: linear-gradient(90deg, #ff0000, #0000ff);
        color: #ffffff;

      }


      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 0.5rem;
      }

      .Global {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        min-height: 100vh;
        width: 100%;
        padding: 20px;
      }

      .Presentation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 35%;
        height: 70%;
      }

      .Infos {
        font-size: smaller;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 70%;
        gap: 5px;
        width: 15%;
      }

      .Image {
        flex-wrap: wrap;
        max-width: 25%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid;
        border-color: chartreuse
      }

      .Logo {
        position: fixed;
        top: 2%;
        left: 1%;

      }

      .socials {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        margin-top: 10px;
      }

      .social-icon {
        width: 30px;
        /* small size */
        height: 30px;
      }

      .Presentation a {
        align-self: center;
        display: inline-block;
        padding: 10px 20px;
        background-color: #ef05c4;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s;
      }

      .Presentation a:hover {
        background-color: #03f6b5;

      }

      .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


      @media (max-width: 992px) {
        body{
          background: linear-gradient(90deg, #0000ff, #00ff00);
        }
        .Global {
          flex-direction: column;
          gap: 30px;
          min-height: auto;
        }

        .Presentation,
        .Infos {
          width: 80%;
          text-align: center;
          align-items: center;
        }

        .Infos {
          order: 3;
        }

        .Presentation {
          order: 2;
        }

        .Image {
          order: 1;
          max-width: 30%;
          content: url(https://media.tenor.com/g_A4grtscqYAAAAM/dumb-stupid.gif);
        }

        .socials {
          justify-content: center;
        }
      }

      @media (max-width: 600px) {
        body{
          background: linear-gradient(90deg, #00ff00, #ff0000);
        }

        .Presentation,
        .Infos {
          width: 95%;
        }

        .Image {
          max-width: 50%;
          margin-top: 20px;
          content: url(https://media.tenor.com/5rE2ZfDnS0kAAAAM/brainlet-brainlet-bike.gif);
        }

        h1 {
          font-size: 1.5rem;
        }
      }